@import url(./main.css);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    padding: 25px;

    nav {
        display: flex;
        gap: 21px;

        a {
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.41px;
            letter-spacing: 0%;
        }
    }

    .user_email {
        display: flex;
        gap: 20px;

        svg {
            cursor: pointer;
            transition: 0.3s;
        }

        svg:hover {
            transform: scale(1.3);
        }

        svg:active {
            transform: scale(1.1);
        }
    }
}

.container {
    width: 1202px;
    margin: 0 auto;
}

.text {
    margin-top: 44px;
    margin-bottom: 74px;

    h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 59.42px;
        margin-bottom: 11px;
    }

    p {
        font-weight: 700;
        font-size: 18px;
        line-height: 22.28px;
        color: #0047FF;
    }
}

.myWallets {
    width: 100%;
    height: 251px;
    border-radius: 15px;
    margin-bottom: 74px;

    .wallets {
        flex-wrap: wrap;
        display: flex;
        gap: 24px;
        margin-bottom: 21px;
    }

    .wallet {
        min-width: 282px;
        width: 282px;
        height: 160px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }

    .wallet:hover {
        transform: scale(1.02);
    }
}

.active {
    color: #0047FF;
}

button {
    margin-top: 70px;
    background-color: #0047FF;
    color: white;
    width: 438px;
    height: 56px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #0036C7;
    transform: scale(1.02);
}

button:active {
    transform: scale(1);
}